@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.container {
  @apply m-auto;
  width: 1340px;
}

.header {
  height: 56px;
  background-color: #1d252e;
  color: white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header-info {
  @apply flex items-center justify-between;
  width: 304px;
}

.header-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.header-phone::after {
  content: "|";
  margin-left: 8px;
}

.header-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 131px;
}

.header-lang {
  display: flex;
}

.lang {
  margin-right: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.navbar {
  display: flex;
  height: 74px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d252e;
}

.logo {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 26px;
}

.logo-span {
  padding-left: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 1.05em;
}

.navbar-button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  height: 10px;
}

.navbar-button-line {
  width: 30px;
  height: 3px;
  background-color: black;
}

.navbar-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 30px;
  width: 195px;
  border: 1px solid #cd9933;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #1d252e;
}

.service {
  margin: auto;
  padding-top: 80px;
  width: 1140px;
}

.service-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-head__title {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
}

.service-head__input {
  padding: 0 0 9px 0;
  width: 263px;
  height: 28px;
  border: none;
  border-bottom: 1px solid #2a3b45;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #1d252e;
  opacity: 0.4;
}

.service-head__button {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/img/input-search.svg");
}

.service-block {
  display: flex;
}

.acor-container {
  width: 157px;
  margin-right: 47px;
}

/* .acor-body {
  padding: 0;
} */
.acor-container .acor-body {
  /* width: calc(100% - 40px); */
  /* margin: 0 auto; */
  margin-right: 47px;
  width: 157px;
  height: 0;
  color: rgba(0, 0, 0, 0);
  /* line-height: 18px; */
  /* padding: 0 0px; */
  /* box-sizing: border-box; */
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-size: 16px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2); */
}
.acor-container .acor-body {
  /* margin: 0 0 10px; */
}

.acor__button {
  /* font-style: normal;
  line-height: 26px; */
    margin-bottom: 12px;
  padding: 3px 8px;
  width: 98%;
  text-align: left;
  /* height: 32px; */
border-radius: 6px;
}

.acor__button:focus {
background-color: #F2F2F2;
}

.acor-container label {
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  /* padding: 15px 20px; */
  /* width: 100%; */
  color: #0084ca;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  z-index: 100;
  /* margin: 0 0 5px; */
  transition: color 0.35s;
}
.acor-container label:hover {
  /* color: #FFF; */
}
.acor-container input {
  display: none;
}
.acor-container label:before {
  content: "\276F";
  float: right;
}
.acor-container input:checked + label {
  color: #0084ca;
  /* box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3); */
}
.acor-container input + label:before {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
.acor-container input:checked + label:before {
  transition: transform 0.35s;
  transform: rotate(270deg);
}
.acor-container input:checked + label + .acor-body {
  height: auto;
  /* margin-top: -5px; */
  color: #000;
  /* padding: 0px 5px 0px; */
}

.accordion {
}

.accordion-item {
  border: none;
}

.accordion-header {
  border: none;
}

.accordion-button {
  border: 1px solid red;
}
.collapsed {
}

.service-accordion {
  display: flex;
  flex-direction: column;
}

.service-wrapper {
  display: flex;
  height: 124px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 100%;
}

.service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
}

.service-info {
  display: flex;
  flex-direction: column;
}

.service-info__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 104px;
}

.service-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 148px;
}

.service-shop__price {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #1d252e;
}

.service-shop__button {
  width: 52px;
  height: 52px;
  background-color: #0084ca;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../public/img/bag.svg");
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
